*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                           /*  section-1 start*/


          
                        /*======= Header navigation bar =======*/

                        body{
                            background: #19001E;
                        }
       
                        /*======= Header navigation bar =======*/





header{
    z-index: 999;
    position: fixed;
    width: 100%;
}

header .nav-bar{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: 4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    transition: 0.5s ease;
}

.nav-bar .logo{
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation .nav-items a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}

.navigation .nav-items a:not(:last-child){
    margin-right: 50px;
}

.navigation .nav-items a i{
    display: none;
}



.home{
    position: relative;
    min-height: 100vh;
    background: url(home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home:before{
    z-index: 888;
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent, #000116);
    bottom: 0;
    left: 0;
}

.home h1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 6em;
    font-weight: 600;
}

/*======= Content section =======*/
.content h1{
    color: #fff;
    font-size: 3.5em;
    font-weight: 600;
}

.content p{
    color: #fff;
    font-size: 1em;
    margin: 30px 0;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar{
    background: #fff;
    width: 11px;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb{
    background: #282f4e;
    width: 100%;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: #454f6d;
}

/*======= Scroll indicator bar =======*/
.scroll-indicator-container{
    width: 100%;
    height: 5px;
}

.scroll-indicator-bar{
    background: #199fff;
    width: 0%;
    height: 100%;
    box-shadow: 0 5px 25px #199fff,
                0 5px 50px #199fff;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
    header .nav-bar{
        padding: 0 50px;
    }

    section{
        padding: 30px 50px;
        font-size: 0.9em;
    }
}

/*======= Media queries (max-width: 850px) =======*/
@media screen and (max-width: 850px) {
    header .nav-bar {
        padding: 0 20px;
    }

    section {
        padding: 30px 20px;
        font-size: 0.8em;
    }

    /*======= Navigation menu =======*/
    .nav-menu-btn{
        display: block;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }

    .navigation{
        z-index: 99999;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items{
        position: relative;
        background: #fff;
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }

    .navigation .nav-items a{
        color: #222;
        font-size: 1em;
        margin: 15px 50px;
    }

    .navigation .nav-items a i{
        display: inline-block;
        font-size: 1.2em;
        margin-right: 5px;
    }

    .nav-close-btn{
        display: block;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
    }
}
      
                        
                              


                           
.main-head
{
    /* border: 1px solid #000; */
    height: 550px;
    width: 100%;
}

.header-2
{
    /* background-image: url(./img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply; */
    opacity: 1;
    /* border: 1px solid #000; */
    height: 550px;
    width: 100%;
}

.header-2 img
{
    width: 100%;
    height: 1000px;
}

                           /*  section-1 end*/



                           /*  section-2 start*/



.sectionmain
{
    position: relative;
    /* border: 1px solid #000; */
    margin-top: -400px;
}
.main-1
{
   display: flex;
   width: 100%;
   justify-content: space-around;
   position: relative;
}

.box-1
{
    /* border: 1px solid orange; */
    height: 70px;
    width: 15%;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    position: absolute;
    left: 28%;
    box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
}

.box-1 p
{
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 10px; */
}

.box-2
{
    /* border: 1px solid orange; */
    height: 70px;
    width: 15%;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    position: absolute;
    right: 28%;
    box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
}

.box-2 p
{
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 10px; */
}

.middle-img 
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.middle-img img
{
    height: 400px;
}

.box-3
{
    /* border: 1px solid orange; */
    height: 70px;
    width: 20%;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    position: absolute;
    left: 24%;
    top: 300px;
    box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
}

.box-3 p
{
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 10px; */
}

.box-4
{
    /* border: 1px solid orange; */
    height: 70px;
    width: 20%;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    position: absolute;
    right: 24%;
    top: 300px;
    box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
-moz-box-shadow: 4px 2px 10px 2px rgba(0,0,0,0.5);
}

.box-4 p
{
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 10px; */
}

.text-area h5
{
    text-align: center;
    font-weight: 700;
    color: white;
   
}

.text-area h2
{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
    color: white;
}



.counter-section
{
    margin-top: 200px;
}

               /* section-3 start */

               .section-3 h1
               {
                text-align: center;
                font-weight: 900;
                font-size: 80px;
                margin-top: 100px;
                font-family: sans-serif;
                color: white;
               }

               .mainanimation
               {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   /* background: #222; */
                   min-height: 100vh;
                   flex-wrap: wrap;
               }
               
               .section-3 .container
               {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   position: relative;   
                   flex-wrap: wrap;
                   gap: 40px;
               }
               
               .section-3 .container .card
               {
                   position: relative;
                   width: 46%;
                   height: 250px;
                   /* background: #2a2a2a; */
                   /* background-color: whitesmoke; */
                   background-color:transparent ;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   border: 2px solid  #282f4e ;
                   /* box-shadow: 0px 0px 30px -7px rgba(153,54,255,0.75);
-webkit-box-shadow: 0px 0px 9px 0px rgba(153,54,255,0.75);
-moz-box-shadow: 0px 0px 30px -7px rgba(153,54,255,0.75); */

box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
-webkit-box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
-moz-box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);

/* box-shadow: 0 2px 10px #199fff, 0 -1px 1px #199fff; */
                  

               }
               
               .section-3 .container .card .percent
               {
                   position: relative;
                   width: 150px;
                   height: 150px;
                   /* background: #f00; */
               }
               .section-3 .container .card .percent svg
               {
                   position: relative;
                   width: 150px;
                   height: 150px;
                   transform: rotate(270deg);
               }
               
               
               .section-3 .container .card .percent svg circle
               {
                   width: 100%;
                   height: 100%;
                   fill: transparent;
                   stroke-width: 6;
                   stroke: #191919;
                   transform: translate(5px,5px);
               }
               
               .section-3 .container .card .percent svg circle:nth-child(2)
               {
                   stroke: var(--clr);
                   stroke-dasharray: 440;
                   stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
                   opacity: 0;
                   animation: fadeIn 1s linear forwards;
                   animation-delay: 2.5s;
               }
               
               @keyframes fadeIn
               {
                   0%
                   {
                       opacity: 0;
                   }
               
                   100%
                   {
                       opacity: 1;
                   }
               }
               
               .dot
               {
                   position: absolute;
                   /* background: #f00; */
                   inset: 5px;
                   z-index: 10;
                   transform: rotate(calc(3.6deg * var(--num)));
                   animation: animatedot 2s linear forwards;
               }
               
               @keyframes animatedot
               {
                   0%
                   {
                       transform: rotate(0deg);
                   }
                   
                   100%
                   {
                       transform: rotate(calc(3.6deg *  var(--num)));
                   }
               }
               
               .dot::before
               {
                   content: '';
                   position: absolute;
                   transform: translate(-50%);
                   top: -7px;
                   left: 50%;
                   width: 15px;
                   height: 15px;
                   border-radius: 50%;
                   background: var(--clr);
                   box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);
               }
               
               .number
               {
                   position: absolute;
                   inset: 0;
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   flex-direction: column;
                   opacity: 0;
                   animation: fadeIn 1s linear forwards;
                   animation-delay: 2.5s;
               }
               
               .number h2
               {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   color: #fff;
                   font-weight: 700;
                   font-size: 2.5em;
               }
               
               .number h2 span
               {
                   font-weight: 500;
                   color: #fff;
                   font-size: 0.5em;
               
               }
               
               .number p
               {
                   font-weight: 900;
                   font-size: 0.5em;
                   margin-top: 5px;
                   letter-spacing: 2px;
                   text-transform: uppercase;
                   /* color: rgba(255, 255, 255, 0.5); */
                   color: #fff;
               }
               
               /* section-3 end */


               /* section about start */

               .countmain {
                display: flex;
                padding: 50px 0px;
                flex-wrap: wrap;
            }
            
            .counter-section.container{
                max-width: 90%;
                margin: auto;
            }
            .one{
                display: flex;
                justify-content: center;
                align-items:center;
                font-family: "Poppins", Arial, sans-serif;
                width: 25%;
            }
            .one-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #311567;
                color:white;
                font-size: 30px;
                width: 60px;
                height: 60px;
                border-radius: 50px;
            }
            .one-text{
                margin-left: 10px;
            }
            p {
                text-align: center;
                font-size: 16px;
                text-transform: capitalize;
                margin: 0;
            }
            /*  */
            .two{
                display: flex;
                justify-content: center;
                align-items:center;
                font-family: "Poppins", Arial, sans-serif;
                width: 25%;
            }
            .two-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #311567;
                color:white;
                font-size: 30px;
                width: 60px;
                height: 60px;
                border-radius: 50px;
            }
            .two-text{
                margin-left: 10px;
            }
            /*  */
            .three{
                display: flex;
                justify-content: center;
                align-items:center;
                font-family: "Poppins", Arial, sans-serif;
                width: 25%; 
              }
            .three-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #311567;
                color:white;
                font-size: 30px;
                width: 60px;
                height: 60px;
                border-radius: 50px;
            }
            .three-text{
                margin-left: 10px;
            }
            /*  */
            .four{
                display: flex;
                justify-content: center;
                align-items:center;
                font-family: "Poppins", Arial, sans-serif;
                width: 25%;
            }
            .four-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #311567;
                color:white;
                font-size: 30px;
                width: 60px;
                height: 60px;
                border-radius: 50px;
            }
            .four-text{
                margin-left: 10px;
            }
            /*  */
            .about-us{
                display: flex;
            }
            /* .about-img{
                width: 45%;
            } */

            

            .about-1
            {
                width: 16%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
            }



/* /////////////////////////////////////////// */



            .about-1 h1
            {
                font-size: 51px;
                color:white;
                /* font-family: itlalic; */
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 900;
                text-decoration-line: underline;
                /* transform: rotate(320deg); */
                writing-mode: vertical-lr;
                text-orientation: upright;
                /* -webkit-text-stroke: 5px darkblue; */
            }
            
            .about-text{
                width: 70%;
                margin-left: 150px;
            }
            /* .about-img{
                display: flex;
                justify-content: center;
                border-radius: 61% 39% 52% 48% / 44% 59% 41% 59% ;

            } */
            .about-img img {
                width: 450px;
                height: 600px;
                
            }
            /* .about-text h2{
                font-size: 20px; */
                /* margin-top: 50px; */
                /* color: #b1b493;
                font-weight: 900;
                font-family: "Poppins", Arial, sans-serif;
            } */
            .about-text h1
            {
                font-weight: 900;
                text-decoration: underline;
                font-family: sans-serif;
                color: white;
        
            }

            .about-text h3{
                font-size: 40px;
                font-weight: 600;
                font-family: "Poppins", Arial, sans-serif;
                margin: 20px 0px;
            }
            .about-text h5{
                font-size: 18px;
                font-family: "Poppins", Arial, sans-serif;
                color: #999999;
                line-height: 30px;
                font-weight: 300;
            }
            /* .table{
            } 
            .tone{
                display: flex;
                justify-content: space-between;
                width: 70%;
                
            }
            .tone h4{
                margin: 0;
                font-size: 20px;
                color: #b1b493;
            }
            .tone h6{
                margin: 0;
                
                font-size: 20px;
            } */
            .ttwo{
                display: flex;
                justify-content: space-between;
                width: 70%;
                text-align: left;
            padding-top: 20px;
            }
            .ttwo h4{
                margin: 0;
                font-size: 20px;
                color: #b1b493;
            }
            .ttwo h6{
                margin: 0;
                font-size: 20px;
                color:white;
            }
            /* review-section */
            .review-section{
                background-color: transparent;
                margin-top: 100px;
                padding-bottom: 90px;
            }
            .testimonial-section{
                text-align: center;
                padding-top: 50px;
                font-family: "Poppins", Arial, sans-serif;
            }
            .testimonial-section h6{
                font-size: 20px;
                color: black;
            }
            .testimonial-section h4{
                font-size: 18px;
                color: black;
            }
            .google {
                display: flex;
                justify-content: space-around;
                margin-top: 50px;
            }
            
            .row1 {
                background-color: transparent;
                height: 250px;
                padding: 1%;
                margin-top: 1%;
                width: 50%;
            }
            
            .start1 {
                display: flex;
                font-family: "Poppins", Arial, sans-serif;
            }
            
            .testimonial1 {
                width: 50%;
                display: flex;
                justify-content: center;
            }
            
            .testimonial2 {
                display: flex;
                flex-direction: column;
                align-items: start;
            justify-content: center;
                margin: 0;
                padding: 0px;
                box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
                -webkit-box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
                -moz-box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
            }
            
            .testimonial2 h4 {
                margin: 0;
                padding: 5px;
                font-family: myanmar;
                font-size: 16px;
                font-weight: 300;
                font-family: "Poppins", Arial, sans-serif;
                text-align: start;
                width: 200px;
                color:white;
            }
            
            .testimonial2 h6 {
                margin: 0;
                font-size: 12px;
                font-weight: 300;
                padding: 5px;
                font-family: "Poppins", Arial, sans-serif;
                text-align: start;
                width: 200px;
                color:white;
            }
            
            .line2 {
                border-bottom: 1px solid lightgrey;
                margin: 15px 0px 0px 0px !important;
            }
            
            .start2 {
                display: flex;
                align-items: flex-end;
                height: 104px;
                font-size: 14px;
                margin-top: 5px;
                text-align: center;
                font-family: "Poppins", Arial, sans-serif;
                font-weight: 400;
                color:white;
            }
            
            /*  */
            
            .start3 {
                display: flex;
            
            }
            
            .testimonial3 {
                width: 50%;
                display: flex;
                justify-content: center;
            }
            
            .testimonial4 {
                display: flex;
                flex-direction: column;
                align-items: start;
            justify-content: center;
                margin: 0;
                padding: 0px;
                 box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
-webkit-box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
-moz-box-shadow: 0px 0px 13px 2px rgba(232,223,223,0.75);
            }
            
            .testimonial4 h4 {
                margin: 0;
                padding: 5px;
                font-family: myanmar;
                font-size: 16px;
                font-weight: 300;
                font-family: "Poppins", Arial, sans-serif;
                text-align: start;
                width: 200px;
                color:white;
            }
            
            .testimonial4 h6 {
                margin: 0;
                font-size: 12px;
                font-weight: 300;
                padding: 5px;
                font-family: "Poppins", Arial, sans-serif;
                text-align: start;
                width: 200px;
                color:white;
            }
            
            .line2 {
                border-bottom: 1px solid lightgrey;
                margin: 30px 0px 0px 0px;
            }
            
            .start4 {
                display: flex;
                align-items: flex-end;
                height: 104px;
                font-size: 14px;
                text-align: center;
                margin-top: 5px;
                font-family: "Poppins", Arial, sans-serif;
                font-weight: 400;
                color:white;
            }
            
            .row2 {
                background-color: transparent;
                height: 250px;
                margin-top: 1%;
                padding: 1%;
                font-family: "Poppins", Arial, sans-serif;
                width: 50%;
            }
               /* section about end */


.sec-service h1
{
    text-align: center;
    font-weight: 800;
    font-size: 60px;
    color: white;
}

.watermain
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0px;
    gap: 40px 60px;
}

.watermain .drop
{
    position: relative;
    width: 40%;
    height: auto;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(225, 225, 225, 0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watermain .drop:nth-child(1)
{
    border-radius: 57% 43% 73% 57% / 43% 43% 57% 57% ;
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInLeft {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInLeft {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 

.watermain .drop:nth-child(2)
{
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 59% ;
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInRight {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInRight {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 

.watermain .drop:nth-child(3)
{
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43% ;
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInLeft {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInLeft {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
.watermain .drop:nth-child(4)
{
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43% ;
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomInRight {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInRight {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    
}

.watermain .drop:hover
{
    border-radius: 50%;
}

.watermain .drop::before
{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50px;
    left: 85px;
    background: red;
    border-radius: 50%;
    opacity: 0.9;
}

.watermain .drop::after
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 90px;
    left: 110px;
    background: red;
    border-radius: 50%;
    opacity: 0.9;
}

.watermain .drop .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}

.watermain .drop .content h2
{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.025);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--clr);
}

.watermain .drop .content a
{
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.025);
    opacity: 0.75;
    transition: 0.5s;
}
.watermain .drop .content a:hover
{
    opacity: 1;
}

.watermain .drop .content a::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    border-radius: 5px;
    background: rgba(225, 225, 225, 0.5);

}

.cnt-1
{
    width:55%;
}


.con-main
{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

.contact-sec h1
{
    color: white;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline;
}

input[type=text],textarea {
    width: 100%; 
    height: 70px;
    padding: 12px; 
    border: 2px solid #fff; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    background: transparent;
    color: white;
 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .button
  {
    display: flex;
    justify-content: flex-start;
  }
  
  #buton
  {
    background-color:#6b6ef7 ;
    color: white;
    font-weight: bolder;
  }
  /* When moving the mouse over the submit button, add a darker green color */
  #buton:hover {
    background-color: blue;
  }
.cnt-2
{
    width: 40%;
}
  .cnt-main-1
  {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    column-gap: 20px;
  }

   .cnt-main-1 p
   {
    color :white;
    font-size: 20px;
   }

  .fa-solid,.fa-brands
  {
    color: white;
    font-size: 40px;
  }

  .sec-footer
  {
    margin-top: 100px;
  }


.footer
{
    width: 100%;
    height: 300px;
    background-color: #000;
}

.footer-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.footer-main h5
{
    color: white;
    font-size: 30px;
}








@media screen and (max-width: 700px)
{
    .header-2 img {
        width: 100%;
        height: 700px;
    }
}

@media screen and (max-width: 700px)
{
    .sectionmain {
        position: relative;
        /* border: 1px solid #000; */
        margin-top: -470px;
    }
    
}


@media screen and (max-width: 1024px)
{
    .box-1 
    {
        left: 20%;
        width: 20%; 
    }

    .box-2
    {
        right: 20%;
        width: 20%; 
    }

    .box-3
    {
        left: 16%;
        width: 26%; 
    }

    .box-4
    {
        right: 16%;
        width: 26%; 
    }
}

@media screen and (max-width: 768px)
{
    .box-1 
    {
        left: 14%;
        width: 24%; 
        height: 60px;
    }

    .box-2
    {
        right: 14%;
        width: 24%; 
        height: 60px;
    }

    .box-3
    {
        left: 4%;
        width: 34%;
        top: 220px;
        height: 60px;
    }

  

    .box-4
    {
        right: 4%;
        width: 34%;
        top: 220px;
        height: 60px;
    }

    .middle-img img
    {
        height: 300px;
    }
    
    .text-area h2 {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: white;
    }
}

@media screen and (max-width: 600px)
{
    .box-1 
    {
        left: 10%;
        width: 28%;
    }

    .box-1 img
    {
        height: 30px;
    }

    .box-1 p
    {
        font-size: 16px;
    }


    .box-2
    {
        right: 10%;
        width: 28%;
    }

    .box-2 img
    {
        height: 30px;
    }

    .box-2 p
    {
        font-size: 16px;
    }


    .box-3 {
        left: -4%;
        width: 38%;
    }

    .box-3 img
    {
        height: 30px;
    }

    .box-3 p
    {
        font-size: 16px;
    }

    .box-4 {
        right: -4%;
        width: 38%;
    }

    .box-4 img
    {
        height: 30px;
    }

    .box-4 p
    {
        font-size: 16px;
    }

}

@media screen and (max-width: 1030px)
{
    .watermain .drop
    {
       width: 40%;  
       height: 350px;
    }
}

@media screen and (max-width: 900px)
{
    .watermain .drop
    {
       width: 45%;  
       height: 320px;
    }
}

@media screen and (max-width: 768px)
{
    .watermain .drop
    {
       width: 60%;  
       height: 320px;
    }
}




@media screen and (max-width: 768px)
{
    .section-3 .container .card
    {
       width: 70%;  
    }
}


@media screen and (max-width: 1024px)
{
    .one
    {
       width: 50%;       
    }

    .two
    {
       width: 50%;       
    }

    .three
    {
       width: 50%;       
    }

    .three-icon{
        margin-left: 40px;
    }

    .four
    {
        width: 50%;  
    }

    .four-icon{
        margin-left: 50px;  
    }
}

@media screen and (max-width: 1024px)
{
    .ttwo
    {
       width: 100%;       
    }
}

@media screen and (max-width: 768px)
{
    .ttwo
    {
       width: 100%;
       display: block;      
    }
}

@media screen and (max-width: 768px)
{
    .about-1 h1
    {
       font-size: 80px;
    }
}

@media screen and (max-width: 768px)
{
    .about-1
    {
       width: 20%;   
    }
}

@media screen and (max-width: 940px)
{
    .google 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row1
    {
       width: 50%;
    }

    .row2
    {
       width: 50%;
    }
}

@media screen and (max-width: 600px)
{

    .watermain .drop
    {
        width: 100%;
    }

    .row1
    {
       width: 100%;
    }

    .row2
    {
       width: 100%; 
    }

}


@media screen and (max-width: 500px)
{
    .about-us
    {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }

    .about-1
    {
        width: 100%;
    }

    .about-1 h1
    {
        font-size: 51px;
        color:white;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        text-decoration-line: underline;
        writing-mode: horizontal-tb;
        text-orientation: upright;
    }

    .about-text
    {
        width: 100%;
        margin-left: 90px;
    }
}


@media screen and (max-width: 400px)
{
    .watermain .drop 
    {
       width: 100%;  
       height: 400px;     
    }
}


  /*======= Media queries (max-width: 1100px) =======*/
  @media screen and (max-width: 1100px){
    header .nav-bar{
        padding: 0 50px;
    }
  }

/*======= Media queries (max-width: 850px) =======*/
@media screen and (max-width: 850px) {
    header .nav-bar {
        padding: 0 20px;
    }
    
}
